[Unit]
Description=Reconcile AppImages with installed applications

[Service]
Type=oneshot
ExecStart={{BIN}} sync
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
RestrictSUIDSGID=true
LockPersonality=true
SystemCallArchitectures=native
ReadWritePaths={{READ_WRITE_PATHS}}
