[Unit]
Description=Download and install available AppImage updates

[Service]
Type=oneshot
ExecStart={{BIN}} upgrade
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
RestrictSUIDSGID=true
LockPersonality=true
SystemCallArchitectures=native
ReadWritePaths={{READ_WRITE_PATHS}}
